<body>

    {{> navbar}}

    <div class="main">

        <div id="notfound-base">

            <div id="notfound-container">
                <h1>500</h1>
                <p>An error occurred. Please try again later.</p>
            </div>
            
        </div>
        
    </div>
    
    {{> footer}}

</body>