<div id="footer">

    <div id="footer-top">


        <div id="footer-about">
            <div class="footer-title">
                <h1>About Us</h1>
            </div>

            <div class="footer-content">
                <p><a href="/about-us/#aboutus-page1">Who we are</a></p>
                <p><a href="/about-us/#aboutus-page2">Our products</a></p>
            </div>
        </div>

        <div id="footer-contact">
            <div class="footer-title">
                <h1>Contact Us</h1>
            </div>

            <div class="footer-content">
                <p><b>SMART:</b> <a href="tel:+63-939-616-7698">0939 616 7698</a></p>
            </div>
        </div>

        <div id="footer-form">
            <div class="footer-title">
                <h1>Have inquiries or suggestions?</h1>
            </div>

            <div class="footer-content">
                <p><a href="/about-us/#aboutus-page3">Fill out our forms!</a></p>
            </div>
        </div>

    </div>

    <div id="footer-mid">
        <hr>
    </div>


</div>